<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Playlist Generator</title>
  </head>

  <body>
    <h1>Spotify Playlist Generator</h1>

    <form action="{{ url_for('auth') }}" method="post">
      <label for="username">Username</label>
      <input type="text" name="user" id="username"
      placeholder="Enter Spotify Username"><br>
      <input class="btn btn-success" type="submit" value="Submit">
    </form>

  </body>
</html>
