<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      html,
      body{
      background-color: #252926; 
      color: #fff;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      }
    </style>
    <title>Playlist Generator</title>
  </head>

  <body>
    <h1>Spotify Playlist Generator</h1>

    <form action="{{ url_for('auth') }}" method="post">
      <div>
      <p> This application requires that you login to Spotify.
        <br>Click on the button to be redirected to the login page</p>
      </div>
      <input class="btn btn-success" type="submit" value="Login to Spotify">
    </form>

  </body>
</html>
